:root {
    --base-color: #1c1d22;
    --text-color: #D3D3D3;
    --primary-color: green;
    --secondary-color: rgba(128, 128, 128, 0.25);
    --color1: #23272A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    color: var(--text-color)
}

body {
    background-color: var(--base-color);
    padding: 1em;

}

nav {
    margin: 0em auto 3em auto;
    width: min(95em, 100%);
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}
nav li:first-child {
    margin-right: auto;
}
nav a {
    text-decoration: none;
    color: var(--text-color );
}
nav a:hover {
    text-decoration: underline;
}
header, section {
    margin: 2em auto;
    width: min(95em, 100%);
    padding: min(2em, 15%);
    background-color: var(--color1);
    border-radius: 1em;
}           
.flex-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}
header img {
    border-radius: 1em;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.text-con {
    flex: 0 1 34em;

}
.cta {
    display: inline-block;
    text-decoration: none;
    color: var(--base-color);
    background-color: white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}
.welcome {
    margin-bottom: .5em;
    font-size: 1.5em;
}
.green {
    color: var(--primary-color)
}
h1 {
    font-size: 3em;

}
h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
}
h3 {
    font-size: 2em;
}
.info-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
}


.infobox {
    color: var(--base-color);
    background-color: white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}
iframe {
    flex: 0 1 420px;
    max-width: 100%;
}
section {
    padding: 3em min(2em, 15%);
    text-align: center;
}

section p {
    text-align: center;
    margin-top: 1em;
    font-size: 1.25em;
}
.discta {
    color: #7289DA;
    text-decoration: none;
}
.discta:hover {
    text-decoration: underline;
}
/* 松山MC伺服器(Java) */