:root {
    --base-color: #1c1d22;
    --text-color: #D3D3D3;
    --primary-color: #5DC714;
    --secondary-color: rgba(128, 128, 128, 0.25);
    --color1: #23272A;
    --dis-color: #7289DA;
    --scarlet: #E63946;
    --mcseven: "Minecraft Seven", ui-monospace, monospace;
    --mcten: "Minecraft Ten", ui-monospace, monospace;
    --mccubic: "Minecraft Cubic","Noto Sans TC", sans-serif;
}
@font-face {
  font-family: "Minecraft Ten";
  src: url("fonts/Minecraft-Tenv2.woff2") format("woff2");
}
@font-face {
  font-family: "Minecraft Seven";
  src: url("fonts/Minecraft-Seven_v2.woff") format("woff");
}
@font-face {
  font-family: "Minecraft Cubic";
  src: url("fonts/Cubic_11.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-color);
    font-family: var(--mccubic), var(--mcseven), var(--mcten), ui-monospace, monospace;
    color: var(--text-color)
}
.navbar {
    background: var(--base-color);

    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    align-items: center;
    min-height: 70px;
}
nav a {
    color: white;
    text-decoration: none;
}
.logo {
    margin-right: 40px;
    text-align: center;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-right {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 25px;
}
           
.hero {
    height: calc(100vh - 70px);
    background-image:
    linear-gradient(
     to bottom,
     rgba(28, 29, 34, 0.25) 25%,
     rgba(28, 29, 34, 0.7) 50%,
    rgba(28, 29, 34, 1) 100%
        ),
        url("images/pine\ forest\ mc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero .container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    
}
.hero-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
.join {
    font-size: 1.5em;
    margin-top: 1em;
    padding: .6em 1em;

    text-decoration: none;
    color: white;
    background-color: var(--scarlet);

    border-radius: .5em;
    font-weight: 600;
}
.text-con {
    flex: 0 1 22em;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.cta {
    display: inline-block;
    text-decoration: none;
    color: var(--base-color);
    background-color: #7289DA;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}
h1 + p {
    font-size: 2em; 
    margin-top: .5em;
}
h1 {
    font-size: 7em;
}
h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
}
h3 {
    font-size: 2em;
}
.infocards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}
.infocard {
    font-family: "Noto Sans TC", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.7) 100%);

    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    border: 1px solid var(--primary-color);

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex: 1 1 240px;
}
.card-icon {
    font-size: 35px;
    padding-right: .75em;    
}
.card-text {
    display: flex;
    flex-direction: column;
}
.card-head {
    font-family: var(--mccubic);
    font-size: 20px;
    font-weight: 600;
}
.card-subhead {
    font-family: var(--mccubic);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: .5em;
}
.infocard#social {
    border: 1px solid var(--dis-color);
}
.infocard#social, .infocard#copy, .join {
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.infocard#social:hover, .infocard#copy:hover, .join:hover {

    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
img {
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}
iframe {
    flex: 0 1 420px;
    max-width: 100%;
}
.information {
    background-color: var(--color1);
}

.information p {
    margin-top: 1em;
    font-size: 1.25em;
}
.discta {
    color: #7289DA;
    text-decoration: none;
}
.discta:hover {
    text-decoration: underline;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 2em;
}
.green {
    color: var(--primary-color)
}
@media (max-width: 988px){ 
    header{
        text-align: center;
    }
}
@media (max-width: 640px){ 
     nav li:not(:first-child):not(:last-child) {
        display: none;
    }
    header {
        margin-top: 0;
    
    }
    .cta {
        width: 100%;
    }
    .text-con {
        font-size: 1em;
    }
}
